html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 2rem;
}

ul {
    list-style: square;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 0;
}

h2 {
    font-size: 3.2rem;
    font-weight: 300;
    margin-top: 0;
}
